<!-- Site Footer -->
<footer id="site-footer" class="site-footer">
  <!-- Large Container -->
  <div class="large-container">
    <!-- Left Element -->
    <div class="left-element">
      <a href="http://themeforest.net/user/D-and-I?ref=D-and-I">
        Copyright 2013 D&amp;I
      </a>
    </div>
    <!-- End Left Element -->
    <!-- Right Element -->
    <div class="right-element">
      <a href="#">
        Legal Information
      </a>
    </div>
    <!-- End Right Element -->
  </div>
  <!-- End Large Container -->
</footer>
<!-- End Site Footer -->