<header id="site-header" class="site-header">
  <!-- Large Container -->
  <div class="large-container">
    <!-- Site Logo -->
    <h1 class="site-logo">
      <a href="#">
        <img src="./images/logo.png" alt="Emerald">
      </a>
    </h1>
    <!-- End Site Logo -->
    <!-- Site Navigation -->
    <nav class="site-navigation">
      <ul>
        <li>
          <a href="#" class="home-link">Home</a>
        </li>
        <li>
          <a href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a href="#services">Services</a>
        </li>
        <li>
          <a href="#about-us">About</a>
        </li>
        <li>
          <a href="#news">News</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- End Site Navigation -->
  </div>
  <!-- End Large Container -->
</header>
<!-- End Site Header -->