---
title: hello
---

<!-- Main Page Content -->
<div role="main">

  <!-- Main Banner -->
  <div class="main-banner">
    <img src="./images/main-banner.png" alt="">
    <!-- Slogan -->
    <h1 class="slogan">
      Introducing<br>Emerald
    </h1>
    <p class="sub-slogan">
      An outstanding theme for outstanding creatives  
    </p>
    <!-- End Slogan -->
  </div>
  <!-- End Main Banner -->

  <!-- Portfolio -->
  <section id="portfolio" class="portfolio macro-block">
    <h1 class="macro-block-heading">
      Portfolio
    </h1>
    <!-- Macro Block Content -->
    <div class="macro-block-content">
      <!-- Container -->
      <div class="container">
        <!-- Filter -->
        <ul class="filter sixteen columns">
          <li>Filter:</li>
          <li class="active-filter">
            <a href="#" data-filter="all">All</a>
          </li>
          <li>
            <a href="#" data-filter="web">Web Design</a>
          </li>
          <li>
            <a href="#" data-filter="branding">Branding</a>
          </li>
          <li>
            <a href="#" data-filter="print">Print Design</a>
          </li>
          <li>
            <a href="#" data-filter="animation">Animation</a>
          </li>
          <li>
            <a href="#" data-filter="3d">3D Graphics</a>
          </li>
        </ul>
        <!-- End Filter -->
      </div>
      <!-- End Container -->

      <!-- Tiles -->
      <ul class="tiles container">

        <!-- Tile 1 -->
        <li class="one-third column" data-type="3d print">
          <div class="item-wrap">
            <a href="./images/large/large-1.jpg" class="fancybox" data-rel="gallery-1">
              <img src="./images/tiles/tile-1.jpg" alt="Modern Interface">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">Modern Interface</p>
                  <p class="tags">3d graphics / print design</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 1 -->

        <!-- Tile 2 -->
        <li class="one-third column" data-type="print">
          <div class="item-wrap">
            <a href="./images/large/large-2.jpg" class="fancybox" data-rel="gallery-1">
              <img src="./images/tiles/tile-2.jpg" alt="World Map">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">World Map</p>
                  <p class="tags">print design</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 2 -->

        <!-- Tile 3 -->
        <li class="one-third column" data-type="branding print">
          <div class="item-wrap">
            <a href="./images/large/large-3.jpg" class="fancybox" data-rel="gallery-1">
              <img src="./images/tiles/tile-3.jpg" alt="Umbrella Business Cards">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">Umbrella Business Cards</p>
                  <p class="tags">branding / print design</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 3 -->

        <!-- Tile 4 -->
        <li class="one-third column" data-type="3d branding">
          <div class="item-wrap">
            <a href="./images/large/large-4.jpg" class="fancybox" data-rel="gallery-1">
              <img src="./images/tiles/tile-4.jpg" alt="Camera Icon">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">Camera Icon</p>
                  <p class="tags">3d graphics / branding</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 4 -->

        <!-- Tile 5 -->
        <li class="one-third column" data-type="web branding">
          <div class="item-wrap">
            <a href="./images/large/large-5.jpg" class="fancybox" data-rel="gallery-1">
              <img src="./images/tiles/tile-5.jpg" alt="Bookshelve Interface">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">Bookshelve Interface</p>
                  <p class="tags">web design / branding</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 5 -->

        <!-- Tile 6 -->
        <li class="one-third column" data-type="3d print">
          <div class="item-wrap">
            <a href="./images/large/large-6.jpg" class="fancybox" data-rel="gallery-1">
              <img src="./images/tiles/tile-6.jpg" alt="Colorful Letters">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">Colorful Letters</p>
                  <p class="tags">3d graphics / print design</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 6 -->

        <!-- Tile 7 -->
        <li class="one-third column" data-type="web">
          <div class="item-wrap">
            <a href="./images/large/large-7.jpg" class="fancybox" data-rel="gallery-1">
              <img src="./images/tiles/tile-7.jpg" alt="Video Player UI">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">Video Player UI</p>
                  <p class="tags">web design</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 7 -->

        <!-- Tile 8 -->
        <li class="one-third column" data-type="branding">
          <div class="item-wrap">
            <a href="./images/large/large-8.jpg" class="fancybox" data-rel="gallery-1">
              <img src="./images/tiles/tile-8.jpg" alt="Medieval Arms">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">Medieval Arms</p>
                  <p class="tags">branding</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 8 -->

        <!-- Tile 9 -->
        <li class="one-third column" data-type="animation web">
          <div class="item-wrap">
            <a href="https://www.youtube.com/watch?v=SDnYMbYB-nU" class="fancybox" data-rel="gallery-1">
              <img src="images/tiles/tile-9.jpg" alt="YouTube Player">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">YouTube Player</p>
                  <p class="tags">animation / web design</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 9 -->

        <!-- Tile 10 -->
        <li class="one-third column" data-type="web">
          <div class="item-wrap">
            <a href="images/large/large-10.jpg" class="fancybox" data-rel="gallery-1">
              <img src="images/tiles/tile-10.jpg" alt="Weather App">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">Weather App</p>
                  <p class="tags">web design</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 10 -->

        <!-- Tile 11 -->
        <li class="one-third column" data-type="3d branding">
          <div class="item-wrap">
            <a href="images/large/large-11.jpg" class="fancybox" data-rel="gallery-1">
              <img src="images/tiles/tile-11.jpg" alt="Shiny Bubbles">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">Shiny Bubbles</p>
                  <p class="tags">3d graphics / branding</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 11 -->

        <!-- Tile 12 -->
        <li class="one-third column" data-type="animation web">
          <div class="item-wrap">
            <a href="http://vimeo.com/43050020" class="fancybox" data-rel="gallery-1">
              <img src="images/tiles/tile-12.jpg" alt="Vimeo Player">
              <div class="overlay">
                <div class="overlay-inner">
                  <p class="project-title">Vimeo Player</p>
                  <p class="tags">animation / web design</p>
                </div>
              </div>
            </a>
          </div>
        </li>
        <!-- End Tile 12 -->

      </ul>
      <!-- End Tiles -->

    </div>
    <!-- End Macro Block Content -->
  </section>
  <!-- End Portfolio -->


  <!-- Services -->
  <section id="services" class="services macro-block">
    <h1 class="macro-block-heading">
      Our Services
    </h1>
    <!-- Macro Block Content -->
    <div class="macro-block-content">
      <!-- Container -->
      <div class="container services-details">

        <!-- Service 1 -->
        <div class="one-third column">
          <h3 class="content-heading-with-icon icon-1">
            Ultra Responsive
          </h3>
          <p class="basic-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
          </p>
        </div>
        <!-- End Service 1 -->

        <!-- Service 2 -->
        <div class="one-third column">
          <h3 class="content-heading-with-icon icon-2">
            Amazing Animation
          </h3>
          <p class="basic-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
          </p>
        </div>
        <!-- End Service 2 -->

        <!-- Service 3 -->
        <div class="one-third column">
          <h3 class="content-heading-with-icon icon-3">
            High Performance
          </h3>
          <p class="basic-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
          </p>
        </div>
        <!-- End Service 3 -->

        <!-- Service 4 -->
        <div class="one-third column ">
          <h3 class="content-heading-with-icon icon-4">
            Beautiful Design
          </h3>
          <p class="basic-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
          </p>
        </div>
        <!-- End Service 4 -->

        <!-- Service 5 -->
        <div class="one-third column">
          <h3 class="content-heading-with-icon icon-5">
            Easy to Customize
          </h3>
          <p class="basic-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
          </p>
        </div>
        <!-- End Service 5 -->

        <!-- Service 6 -->
        <div class="one-third column">
          <h3 class="content-heading-with-icon icon-6">
            Friendly Support
          </h3>
          <p class="basic-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
          </p>
        </div>
        <!-- End Service 6 -->
      </div>
      <!-- End Container -->

      <!-- Our Work Process -->
      <div id="work-process" class="container">
        <h2 class="macro-block-heading-sub sixteen columns">
          <span>Our Work Process</span>
        </h2>
        <!-- Illustration -->
        <div class="process-img full-width-img sixteen columns">
          <img src="./images/process.png" alt="Our Work Process">
        </div>
        <!-- End Illustration -->
      </div>
      <!-- End Our Work Process -->

    </div>
    <!-- End Macro Block Content -->
  </section>
  <!-- End Services -->



  <!-- About Us -->
  <section id="about-us" class="about-us macro-block">
    <h1 class="macro-block-heading">
      About Us
    </h1>
    <!-- Macro Block Content -->
    <div class="macro-block-content">
      <!-- Container -->
      <div class="container about-details">
        <!-- Illustration -->
        <div class="office-img full-width-img sixteen columns">
          <img src="./images/office.jpg" alt="Our Team at Work At Office">
        </div>
        <!-- End Illustration -->

        <!-- Main Text -->
        <div class="eight columns left-text">
          <h3 class="content-heading">
            Amazing Experience. On any Device
          </h3>
          <p class="basic-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in.
          </p>
        </div>

        <div class="eight columns right-text">
          <h3 class="content-heading">
            Stunning Animation. Like Never Before
          </h3>
          <p class="basic-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in.
          </p>
        </div>
        <!-- End Main Text -->

      </div>
      <!-- End Container -->


      <div class="container">
        <h2 class="macro-block-heading-sub sixteen columns">
          <span>Meet Our Team</span>
        </h2>
      </div>


      <!-- Container -->
      <div class="container team-members-wrap">

        <!-- Team Member 1 -->
        <figure class="team-member four columns">
          <img src="./images/portrait-1.jpg" alt="Jason Anderson CEO Portrait">
          <figcaption>
            <div class="name-wrap">
              <p class="member-name">Jason Anderson</p>
              <p class="member-job">CEO &amp; Founder</p>
            </div>
            <ul class="social-list">
              <li>
                <a href="#">
                  <img src="images/icon-facebook.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-twitter.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-dribbble.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-linkedin.png" alt="">
                </a>
              </li>
            </ul>
          </figcaption>
        </figure>
        <!-- End Team Member 1 -->

        <!-- Team Member 2 -->
        <figure class="team-member four columns">
          <img src="images/portrait-2.jpg" alt="Jason Anderson CEO Portrait">
          <figcaption>
            <div class="name-wrap">
              <p class="member-name">Mark Brown</p>
              <p class="member-job">Designer</p>
            </div>
            <ul class="social-list">
              <li>
                <a href="#">
                  <img src="images/icon-facebook.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-twitter.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-dribbble.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-linkedin.png" alt="">
                </a>
              </li>
            </ul>
          </figcaption>
        </figure>
        <!-- End Team Member 2 -->

        <!-- Team Member 3 -->
        <figure class="team-member four columns">
          <img src="images/portrait-3.jpg" alt="Jason Anderson CEO Portrait">
          <figcaption>
            <div class="name-wrap">
              <p class="member-name">Linda Parker</p>
              <p class="member-job">Manager</p>
            </div>
            <ul class="social-list">
              <li>
                <a href="#">
                  <img src="images/icon-facebook.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-twitter.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-dribbble.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-linkedin.png" alt="">
                </a>
              </li>
            </ul>
          </figcaption>
        </figure>
        <!-- End Team Member 3 -->

        <!-- Team Member 4 -->
        <figure class="team-member four columns">
          <img src="images/portrait-4.jpg" alt="Jason Anderson CEO Portrait">
          <figcaption>
            <div class="name-wrap">
              <p class="member-name">Bill Donovan</p>
              <p class="member-job">Developer</p>
            </div>
            <ul class="social-list">
              <li>
                <a href="#">
                  <img src="images/icon-facebook.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-twitter.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-dribbble.png" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/icon-linkedin.png" alt="">
                </a>
              </li>
            </ul>
          </figcaption>
        </figure>
        <!-- End Team Member 4 -->
      </div>
      <!-- End Container -->

      <!-- Container -->
      <div class="container">
        <h2 class="macro-block-heading-sub sixteen columns">
          <span>Client Testimonials</span>
        </h2>
      </div>
      <!-- End Container -->

      <!-- Container -->
      <div class="container testimonials-wrap">

        <div class="arrow-left one column"></div>

        <!-- Testimonials -->
        <div class="testimonials fourteen columns">
          <!-- Flexslider -->
          <div class="flexslider">
            <ul class="slides">
              <!-- Slide 1 -->
              <li>
                <p class="testimonial-text">
                  «Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt tempora wisi ut laoreet dolore magna!»
                </p>
                <p class="testimonial-author">
                  John Smith, CEO, Company LLC
                </p>
              </li>
              <!-- End Slide 1 -->

              <!-- Slide 2 -->
              <li>
                <p class="testimonial-text">
                  «Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum.  Defacto lingo est igpay atinlay. Marquee selectus non!»
                </p>
                <p class="testimonial-author">
                  Jack Coltrane, CEO, Shop LLC
                </p>
              </li>
              <!-- End Slide 2 -->

              <!-- Slide 3 -->
              <li>
                <p class="testimonial-text">
                  «Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum!»
                </p>
                <p class="testimonial-author">
                  Sara Brown, CEO, Corporation Inc.
                </p>
              </li>
              <!-- End Slide 3 -->

            </ul>
          </div>
          <!-- End Flexslider -->

          <!-- Slider Pagination -->
          <ul class="slider-pagination" id="testimonials-pagination">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <!-- End Slider Pagination -->
        </div>
        <!-- End Testimonials -->

        <div class="arrow-right one column"></div>

      </div>
      <!-- End Container -->
    </div>
    <!-- End Macro Block Content -->
  </section>
  <!-- End About Us -->


  <!-- Recent News -->
  <section id="news" class="news macro-block">
    <h1 class="macro-block-heading">
      Recent News &amp; Events
    </h1>
    <!-- Macro Block Content -->
    <div class="macro-block-content">
      <!-- Container -->
      <div class="container recent-posts-wrap">

        <!-- News Post 1 -->
        <div class="one-third column news-post">
          <img src="images/recent-post-img-1.jpg" alt="">
          <p class="content-heading-with-divider">
            <span>HTML 5 &amp; CSS 3</span>
          </p>
          <p class="basic-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Lorem ipsum dolor sit amet, consectetuer.
          </p>
          <p class="date">
            <span>February 16,2013</span>
          </p>
        </div>
        <!-- End News Post 1 -->

        <!-- News Post 2 -->
        <div class="one-third column news-post">
          <img src="images/recent-post-img-2.jpg" alt="">
          <p class="content-heading-with-divider">
            <span>Responsive Design</span>
          </p>
          <p class="basic-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Lorem ipsum dolor sit amet, consectetuer.
          </p>
          <p class="date">
            <span>February 14,2013</span>
          </p>
        </div>
        <!-- End News Post 2 -->

        <!-- News Post 3 -->
        <div class="one-third column news-post">
          <img src="images/recent-post-img-3.jpg" alt="">
          <p class="content-heading-with-divider">
            <span>Power of jQuery</span>
          </p>
          <p class="basic-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Lorem ipsum dolor sit amet, consectetuer.
          </p>
          <p class="date">
            <span>February 11,2013</span>
          </p>
        </div>
        <!-- End News Post 3 -->

      </div>
      <!-- End Container -->
    </div>  
    <!-- End Macro Block Content -->
  </section>
  <!-- End Recent News -->


  <!-- Contact -->
  <section id="contact" class="contact macro-block">
    <h1 class="macro-block-heading">
      Contact Us
    </h1>
    <!-- Macro Block Content -->
    <div class="macro-block-content">
      <!-- Container -->
      <div class="container">

        <!-- Contact details -->
        <div class="four columns contact-details-wrap">
          <h2 class="content-heading">
            Contact Details
          </h2>
          
          <ul class="contact-details-list">
          
            <li class="phone-icon">
              <p class="basic-text bold">Phone</p>
              <p class="basic-text">555-05-300</p>
            </li>
          
            <li class="email-icon">
              <p class="basic-text bold">E-mail</p>
              <p class="basic-text">your-mail@gmail.com</p>
            </li>
          
            <li class="address-icon">
              <p class="basic-text bold">Address</p>
              <p class="basic-text">23 Main Street,<br>
          New Yourk, USA</p>
            </li>
          
          </ul>
        </div>
        <!-- End Contact details -->

        <!-- Contact Form -->
        <div class="contact-form twelve columns">
          <h2 class="content-heading">Send a Message</h2>
          
          <form action="post" class="twelve columns alpha omega">
            <input
              type=  "text"
              value= "Your name"
              id=    "name"
              name=  "name"
              class= "four columns alpha">
          
            <input
              type=  "text"
              value= "Your e-mail"
              id=    "email"
              name=  "email"
              class= "four columns">
          
            <input
              type=  "text"
              value= "Your website*"
              id=    "website"
              name=  "website"
              class= "four columns omega">
          
            <textarea
              id=    "message"
              name=  "message"
              class= "twelve columns alpha omega">Your message goes here</textarea>
          
            <p class="note six columns alpha">
              * optional fields
            </p>
          
            <div class="submit six columns omega">
              <button type="submit" id="submit" name="submit">
                <img src="images/send-button.png" alt="">
              </button>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->
      </div>
      <!-- End Container -->

      <!-- Social Links -->
      <div class="social-links container">
        <h2 class="macro-block-heading-sub sixteen columns">
          <span>Stay Connected</span>
        </h2>

        <!-- Link 1 -->
        <div class="four columns">
          <a href="#" class="square-link two columns alpha">
            <img src="images/icon-twitter-large.png" alt="">
          </a>
          <p class="thin-text two columns omega">
            Follow Us on Twitter
          </p>
        </div>
        <!-- End Link 1 -->

        <!-- Link 2 -->
        <div class="four columns">
          <a href="#" class="square-link two columns alpha">
            <img src="./images/icon-facebook-large.png" alt="">
          </a>
          <p class="thin-text two columns omega">
            Follow Us on Facebook
          </p>
        </div>
        <!-- End Link 2 -->

        <!-- Link 3 -->
        <div class="four columns">
          <a href="#" class="square-link two columns alpha">
            <img src="./images/icon-dribbble-large.png" alt="">
          </a>
          <p class="thin-text two columns omega">
            See Our Works on Dribbble
          </p>
        </div>
        <!-- End Link 3 -->

        <!-- Link 4 -->
        <div class="four columns">
          <a href="#" class="square-link two columns alpha">
            <img src="./images/icon-rss-large.png" alt="">
          </a>
          <p class="thin-text two columns omega">
            Get Updates Via RSS
          </p>
        </div>
        <!-- End Link 4 -->

      </div>
      <!-- End Social Links & Container -->

    </div>  
    <!-- End Macro Block Content -->
  </section>
  <!-- End Contact -->


  <!-- Call to Action -->
  <div id="call-to-action" class="call-to-action">
    <!-- Slogan -->
    <p class="slogan">
      Emerald Theme is Amazing!
    </p>
    <p class="sub-slogan">
      Get it today on ThemeForest.net!
    </p>
    <!-- End Slogan -->
    <!-- Button -->
    <a href="http://themeforest.net/user/D-and-I?ref=D-and-I" class="button">
      <img src="images/cta-button.png" alt="Buy Now">
    </a>
    <!-- End Button -->
    <!-- Note -->
    <p class="note">
      Liked the animation? Just <a href="#">reload the page</a> to enjoy it again!
    </p>
    <!-- End Note -->

  </div>
  <!-- End Call to Action -->


</div>
<!-- End Main Page Content -->